---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for workshop in site.workshops %}
      <li>
        <span class="post-meta">{{ workshop.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ workshop.url | relative_url }}">{{ workshop.title | escape }}</a>
        </h2>
        <p class="wk-presenters">
          Conducted by
          {% for presenter in workshop.presenters %}
            <span class="wk-presenter">{{ presenter }}</span>
          {% endfor %}
        </p>  
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  
</div>
